<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUS</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://img.icons8.com/clouds/200/000000/about.png">
</head>
<body>
    
    <header class="header">
       <nav>
           <div class="navi">
                <a href="index.html" id="homelink"><span id="hmlnk">Home</span></a>
                <a href="about.html" id="aboutlink"><span id="ablnk">About Us</span></a>
           </div>
       </nav>
    </header>

    <div class="headimg">
        <img src="../images/frnds.jpg" alt="our_image" usemap="#img1">
        <map name="img1">
            <area shape="rect" coords="0,0,102,606" href="sarthak.html" alt="" target="blank">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
        </map>
    </div>
    <!-- <hr> -->
<div class="content">

    <div class="vision">
        <h1 id="he1"> 
            Our Vision
        </h1>
        <p>
                We believe in togetherness We believe in thoughtfullness We believe in connecting <br>
                Our Aim is to connect likeminded people with different backgrounds but same passion.  <br>
                Passion to find their potential partners their better half's.
        </p>
    </div>
    
    <!-- <hr> -->
    <!-- <div class="vision">
        <h1 id="he2">
            More About US
        </h1>
    </div> -->
</div>
<!-- <hr> -->

<footer class="footer">
    <div class="icon">
    <i class="fa fa-facebook-f icons" style="font-size:36px">  </i>
    <i class="fa fa-instagram icons" style="font-size:36px"></i>  
    <i class="fa fa-twitter icons" style="font-size:36px"></i>
    <i class="fa fa-linkedin icons" style="font-size:36px"></i> 
    </div>
    <!-- <hr> -->
    <div class="info">
        <a href="#" id="contact"> ContactUs </a>
        <a href="faq.html" id="faq"> FAQ </a>
        <a href="terms_condition.html" id="tndc"> Terms&Conditions </a>
    </div>
</footer>
</body>
</html>