<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="login.css" />
    <link rel="stylesheet" href="splash.css">

  

    <link href="https://fonts.googleapis.com/css2?family=Pushster&family=Trochut&family=Vujahday+Script&display=swap" rel="stylesheet">
  </head>
  <body>

     <!-- ------splash screen----- -->

     <div class="splash">
      <h5 class="logo-header">
        <span class="logo">
          <img src="../images/Binge_donut_gif.gif" alt="">
        </span>
      </h5>
    </div>

    <!-- --------------navabar----------------- -->

    <div id="nav1">
      <div class="nav">
        <nav class="header">
          <div class="h1"><img src="../images/Binge_donut_logo.png" alt=""><span><b>Binge</b></span></div>
          <div>
          <ul class="jk">
            <li class="list"><a href="#features">Features</a></li>
            <li class="list"><a href="safety.html">Safety</a></li>
            <li class="list"><a href="places.html">Places </a></li>
            <li class="list"><a href="terms_condition.html">Contact us</a></li>
            <li class="list"><a href="terms_condition.html">Help</a></li>
            </div>
          </ul>
          <div>
            <button class="log">
              <span class="btn4"><a href="#box" id="btn4">Login</a></span>
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </nav>
      </div>
      <!-- <h2>Find your match -->
      <div class="h2">
        <span class="typed"></span>
      </div>
      <div class="btn2">
        <button class="btn3">
          <span>
            <a id="btn2" href="#box">Create your account </a>
          </span>
        </button>
      </div>
    </div>


    <!------------------login page-------------------------- -->

    <div id="box">
     
      <span class="crox"
        ><a href="#" id="crox"
          ><img src="../images/icons8-multiply-50.png" alt=""
        /></a>
      </span>
      <div class="container">
        <h2 id="change">Get Started</h2>
        <span
          >By clicking LogIn you agree to our <a href="">Terms</a>. Learn how we
          process your data in our <a href="">Privacy Policy </a> and
          <a href="">Cookie policy</a></span
        >
      </div>

      <div class="buttons">
        <div>
          <a href="">
            <button class="btn">
              <img class="img" src="../images/icons8-google-96.png" alt="" />
              <span class="lg">Login with Google</span>
            </button>
          </a>
        </div>
        <div>
          <a href="">
            <button class="btn">
              <img class="img" src="../images/icons8-facebook-96.png" alt="" />
              <span class="lg">Login with Facebook</span>
            </button>
          </a>
        </div>
        <div>
          <a href="">
            <button class="btn">
              <img src="../images/icons8-phone-100.png" alt="" class="img" />
              <span class="lg">Login with Phone Number</span>
            </button>
          </a>
        </div>
      </div>
      <div class="trouble">
        <span><a href="">Trouble logging in?</a></span>
      </div>
      <hr />
      <h2>GET THE APP</h2>
      <div class="download">
        <div class="btn1">
          <a href="">
            <img src="../images/icons8-app-store-100.png" alt="" />
            <span class="dwld">Download on the</span>
            <span class="dwld">App store</span>
          </a>
        </div>
        <div class="btn1">
          <a href="">
            <img src="icons8-google-play-100.png" alt="" />
            <span class="dwld">Get it on</span>
            <span class="dwld">Play store</span>
          </a>
        </div>
      </div>
    </div>

    <!-- -------------blocks--------------- -->
    <div class="bg">
    <div class="blocks">
      <div class="container1">
        <div>
          <img
            class="imgw"
            src="https://source.unsplash.com/2500x2500/?dating"
            alt=""
          />
        </div>
        <div class="cf">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi
          consectetur eum ipsa consequatur quasi, repudiandae cum ea fugiat
          minus magni inventore atque praesentium quas perferendis? Veritatis
          iure beatae aliquam repellat temporibus at perspiciatis facilis
          aliquid qui aspernatur esse porro aut ipsum eum non ipsa, et, maiores
          quasi sed saepe. 
        </div>
      </div>
      <!-- <hr> -->
      <div class="container1">
        <div>
          <img
            class="imgw"
            src="https://source.unsplash.com/2500x2500/?love"
            alt=""
          />
        </div>
        <div class="cf">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi
          consectetur eum ipsa consequatur quasi, repudiandae cum ea fugiat
          minus magni inventore atque praesentium quas perferendis? Veritatis
          iure beatae aliquam repellat temporibus at perspiciatis facilis
          aliquid qui aspernatur esse porro aut ipsum eum non ipsa, et, maiores
          quasi sed saepe. 
        </div>
      </div>
      <!-- <hr> -->
      <div class="container1">
        <div>
          <img
            class="imgw"
            src="https://source.unsplash.com/2500x2500/?couples"
            alt=""
          />
        </div>
        <div class="cf">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi
          consectetur eum ipsa consequatur quasi, repudiandae cum ea fugiat
          minus magni inventore atque praesentium quas perferendis? Veritatis
          iure beatae aliquam repellat temporibus at perspiciatis facilis
          aliquid qui aspernatur esse porro aut ipsum eum non ipsa, et, maiores
          quasi sed saepe. 
        </div>
      </div>
    </div>
  </div>

    
    <!-- -------------Our founders------------ -->

    <div id="features">
      <div class="fer">
        <h1>Speacial Features of our sites</h1>
      </div>
      <div class="icong">
        <div class="icon9"><img src="../images/icons8-romantic-places-128.png" alt="">
        <span>looking for places? <br> Find places to <br> meet,  date & for Fun</span>
        </div>
        <div class="icon9"><img src="../images/icons8-unlock-64.png" alt="">
          <span>Want to chat on <br> socials? <br> Unlock your socials</span></div>
        <div class="icon9"><img src="../images/icons8-video-calling-64.png" alt="">
          <span>Video call with <br> your like ones</span></div>
        <div class="icon9"><img src="../images/icons8-tags-96.png" alt="">
          <span>tags your partners</span></div>
      </div>
    </div>

    
    <!-- ------------Our goal------------ -->
    <!-- <div class="goal">
      <h1>Our vision</h1>
      <p>
      We believe in togetherness We believe in thoughtfullness We believe in connecting <br>
      Our Aim is to connect likeminded people with different backgrounds but same passion.  <br>
      Passion to find their potential partners their better half's.
    </p>
  </div> -->
    <!-- -----------footer------------- -->

    <div class="footer">
      <div class="fh">
        <h2 class="h6">Match</h2>
        <span>Copyright &copy 2021 All rights reserved </span>
      </div>
      <div class="socials">
        <h2 class="uy">socials</h2>
        <div>
          <a href=""><i class="fab fa-instagram icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-facebook-f icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-twitter icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-snapchat icon"></i></a>
        </div>
      </div>
    </div>

    <!-- --------------javascript--------------------- -->

    <script src="../js/login.js"></script>
    <script src="../js/typed.js"></script>
    <script
      src="https://kit.fontawesome.com/5b96ba9c61.js"
      crossorigin="anonymous"
    ></script>
    <script>
      var typed = new Typed(".typed", {
        strings: [
          "We believe in togetherness",
          "We believe in thoughtfulness",
          "We believe in connectivity",
          "Join us &",  
          "find your potential partner :-)",
        ],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
    <script src="../js/splash.js"></script>
    <!-- <script src="server.js"></script> -->




  </body>
</html>