<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <div id="box">
      <div class="container">
        <span class="crox"><img src="../images/icons8-multiply-50.png" alt=""></span>
        <h1>Get Started</h1>
        <span
          >By clicking LogIn you agree to our <a href="">Terms</a>. Learn how we
          process your data in our <a href="">Privacy Policy </a> and
          <a href="">Cookie policy</a></span
        >
      </div>

      <div class="buttons">
        <div>
          <a href="">
          <button class="btn">
            <img class="img" src="../images/icons8-google-96.png" alt="" />
            <span class="lg">Login with Google</span>
          </button>
        </a>
        </div>
        <div>
          <a href="">
          <button class="btn">
            <img class="img" src="../images/icons8-facebook-96.png" alt="" />
            <span class="lg">Login with Facebook</span>
          </button>
        </a>
        </div>
        <div>
          <a href="">
          <button class="btn">
            <img src="../images/icons8-phone-100.png" alt="" class="img" />
            <span class="lg">Log in with Phone Number</span>
          </button>
        </a>
        </div>
      </div>
      <div class="trouble">
        <span><a href="">Trouble logging in?</a></span>
      </div>
      <hr />
      <h2>GET THE APP</h2>
      <div class="download">
        <div class="btn1">
          <a href="">
            <img src="../images/icons8-app-store-100.png" alt="" />
            <span class="dwld">Download on the</span>
            <span class="dwld">App store</span>
          </a>
        </div>
        <div class="btn1">
          <a href="">
            <img src="../images/icons8-google-play-100.png" alt="" />
            <span class="dwld">Get it on</span>
            <span class="dwld">Play store</span>
          </a>
        </div>
        </div>
    </div>
  </body>
</html>
