<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarthak</title>
    <link rel="stylesheet" href="sarthak.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="icon" href="sarthak image.png"> -->
</head>
<body>
    <header>
        <a href="sarthak.html" id="pagelink">
        <i>Sarthak Khanna</i>
        </a>
    </header>
    <!-- <nav>
        <div class="navi">
            <a href="home.html" id="homelink">Home</a>
            <a href="sarthak.html" id="pagelnk">Sarthak</a>
        </div>
    </nav> -->
<div class="main">
    <div class="he">
            <center>
                <h1 id="he1">SARTHAK KHANNA</h1>
            </center>
    </div> 
        <div class="content">
            <div class="image">
                <img src="../images/sarthak image.png" alt="sarthak image" id="img1">
            </div>

            <div class="binfo">
                <br>
                <br>    
                <br>
                <h2><i>SARTHAK KHANNA</i></h2>
                <h3>khannasarthak051@gmail.com</h3>  
                <h3>79/125 Bans Mandi Kanpur</h3>
                <h3>8707314023</h3>
                <div class="icons1">
                    <a href="https://www.instagram.com/its_sarthak_khanna/" target="blank">
                    <i class="fa fa-instagram icons" style="font-size:36px"></i>  
                    </a>
                    <a href="https://www.facebook.com/sarthak.khanna.1048554/" target="blank">
                    <i class="fa fa-facebook-f icons" style="font-size:36px">  </i>
                    </a>
                    <a href="https://twitter.com/Sarthak18791746" target="blank">
                    <i class="fa fa-twitter icons" style="font-size:36px"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sarthak-khaana-6480a41b6/" target="blank">
                    <i class="fa fa-linkedin icons" style="font-size:36px"></i>
                    </a>
                    <!-- <a href="https://github.com/sarthakkhanna24" target="blank">
                    <i class="fa fa-github" style="font: size 36px;" ></i>
                    </a> -->
                    <!-- <a href="https://stackoverflow.com/sers/16838141/sarthak-khanna" target="blank">
                    <i class="fa fa-stack-overflow" style="font-size: 36px;"></i>
                    </a> -->
                </div>
            </div>
        </div>
<br>
<br>
        <div class="content2">
            <div class="binfo2">
                <p class="top">
                    <span id="Hello">Hello Everyone , </span> My name is <span id="N">Sarthak Khanna</span> , <br> 
                    I'm a freshmen at <span> <a href="https://www.chitkara.edu.in/" target="blank" id="uni">Chitkara University</a></span> majoring in Computer Science
                </p>
                <br>
                <br>
                <p class="example">
                    I will explain my vision behind <span id="sitename"> matchi </span> with a simple example : <br>
                    Let us assume their is boy named <span id="rohan"> Rohan </span>, he is a fresher at College
                    and his stream is Computer Science, and assume their is a girl named <span id="riya">Riya </span>
                    she is also a fresher but she is from Medical(Health-Science). They both don't know each other
                    they never met before but in a orientation <span id="rohan"> saw <span id="riya">Riya </span> 
                    sitting just two seats away from him during the whole orientation he just see her and  
                    fell in love with her but before he stood up and ask her name or say anything the orientation was over 
                    and because of the crowd she was gone and <span id="rohan"> was unable to found her but luckily
                    one of <span>Rohan's </span> friend who is sitting behind her know her name and her stream because 
                    she is also from the same hostel as of her's, she told <span id="rohan"> that she know her,
                    her name is <span id="riya">Riya </span> and she is also a fresher and she is from Medical (one of a stream's in India commonly an abbreviation for Health-Science's).
                    Now<span id="rohan"> know her name, her stream, and know that she is also a fresher but 
                    after all this information he is unable to find her and see her again anywhere else in campus
                    <span id="rohan"> also tries to find her on social media platform's like instagram, facebook, twitter etc. but 
                    because their are so many girls with common name he was unable to found her, <br>
                     he also also tries dating platforms to find <span id="riya">Riya </span> but because their is 
                    not any search option available on those platforms and after tens of thousands of swipes <span id="rohan">Rohan </span>
                    felt dipressed and now he is not paying attention towards his studies and moreover on his health..
                </p>
                <br>
                <p class="vsn">
                   "My vision behind creating <span id="sitename"> matchi </span> is to connect individuals like <span id="rohan">Rohan </span> & <span id="riya">Riya </span> 
                   with each other <br> who don't want to meet different people but to meet each other and whome <br> they already knew and felt something for them,
                    they already felt complete <br> when they are with each other." 
    <br>

                </p>
            </div>
            <div class="img2">
                <img src="../images/sarthak chitiya.jpg" alt="sarthak image" style="border-radius: 10%; height: 90vh; width: 25vw;">
            </div>
        </div>

</div>
    <footer>
        <div class="icons2">
            <a href="https://www.instagram.com/its_sarthak_khanna/" target="blank">
            <i class="fa fa-instagram icons" style="font-size:36px"></i>  
            </a>
            <a href="https://www.facebook.com/sarthak.khanna.1048554/" target="blank">
            <i class="fa fa-facebook-f icons" style="font-size:36px">  </i>
            </a>
            <a href="https://twitter.com/Sarthak18791746" target="blank">
            <i class="fa fa-twitter icons" style="font-size:36px"></i>
            </a>
            <a href="https://www.linkedin.com/in/sarthak-khaana-6480a41b6/" target="blank">
            <i class="fa fa-linkedin icons" style="font-size:36px"></i>
            </a>
            <!-- <a href="https://github.com/sarthakkhanna24" target="blank">
            <i class="fa fa-github" style="font: size 36px;" ></i>
            </a> -->
            <!-- <a href="https://stackoverflow.com/sers/16838141/sarthak-khanna" target="blank">
            <i class="fa fa-stack-overflow" style="font-size: 36px;"></i>
            </a> -->
        </div>
        <div class="info3">
            
            <h4>
                 &copy; All rights reserved by <i> SARTHAK KHANNA </i>
            </h4>
            
        </div>
    </footer>
</body>
</html>