<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Condition</title>
    <link rel="stylesheet" href="terms_condition.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="nav1">
        <span>
          <a id="navbar-brand" class="navbar-brand" href="index.html">Bingex</a>
        </span>
      </nav>
     
    </header>
    <div class="main">
      <p id="he1">Terms and Condition</p>
    </div>
    <div class="msg">
      <marquee behavior="scroll" direction="left">
        If you do not accept and agree to be bound by all of the terms of this
        Agreement, please do not use the Service.
      </marquee>
    </div>
    <div class="con1">
      <div class="eligibility">
        <h1>Eligibility</h1>
        <p>
          <li id="li1">
            You must be a student of Chitkara University irrespective of any
            stream or year.
          </li>
          <li>
            You must have your college official email id for verification while
            creating an account or login to your profile.
          </li>
          <li>
            You must have a personal email id for receiving all updates and be
            aware of all new features of our site.
          </li>
        </p>
      </div>
      <br />
      <div class="agreement">
        <h1>User Agreement</h1>
        <p>
          Welcome to Mingle's Terms and Conditions of Use (these “Terms”). This
          is a contract between you and the Us (as defined further below) and we
          want you to know yours and our rights before you use our website or
          application (“Web” or the “App”). Please take a few moments to read
          these Terms before enjoying the App, because once you access, view or
          use the App, you are going to be legally bound by these Terms (so
          probably best to read them first!).
          <br />
          <br />
          Please be aware that if you subscribe to services for a term (the
          “Initial Term”), then the terms of your subscription will be
          automatically renewed for additional periods of the same duration as
          the Initial Term at Mingle then-current fee for such services, unless
          you cancel your subscription in accordance with Section 5 below.
        </p>
      </div>
      <br />
      <div class="guidelines">
        <h1>Community guidelines</h1>
        <p>
          By using the Service, you agree that you will not:
          <li>
            use the Service for any purpose that is illegal or prohibited by
            this Agreement.
          </li>
          <li>use the Service for any harmful or nefarious purpose</li>
          <li>use the Service in order to damage Mingle</li>
          <li>
            violate our Community Guidelines, as updated from time to time.
          </li>
          <li>spam, solicit money from or defraud any members.</li>
          <li>
            impersonate any person or entity or post any images of another
            person without his or her permission.
          </li>
          <li>
            bully, "stalk", intimidate, assault, harass, mistreat or defame any
            person.
          </li>
          <li>
            post any Content that violates or infringes anyone's rights,
            including rights of publicity, privacy, copyright, trademark or
            other intellectual property or contract right.
          </li>
          <li>
            post any Content that is hate speech, threatening, sexually explicit
            or pornographic.
          </li>
          <li>
            post any Content that incites violence; or contains nudity or
            graphic or gratuitous violence.
          </li>
          <li>
            post any Content that promotes racism, bigotry, hatred or physical
            harm of any kind against any group or individual.
          </li>
          <li>
            use another member's account, share an account with another member,
            or maintain more than one account.
          </li>
          <li>
            create another account if we have already terminated your account,
            unless you have our permission.
          </li>
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="fh">
        <h2 class="h6">Match</h2>
        <span>Copyright &copy 2021 All rights reserved </span>
      </div>
      <div class="socials">
        <h2 class="uy">socials</h2>
        <div>
          <a href=""><i class="fab fa-instagram icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-facebook-f icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-twitter icon"></i></a>
        </div>
        <div>
          <a href=""><i class="fab fa-snapchat icon"></i></a>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/5b96ba9c61.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
