<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background: linear-gradient(to right,red,orange,pink,yellow,green);
    }
.wlcm{
    background-color: cyan;
    width: 100%;
    margin: auto;
    text-align: center;
}
.bocy{
    width: 50%;
    margin: auto;
}
hr{
    color: blue;
}
.cont{
    border: dotted;
}
.lb{
    display: block;
}
</style>
<body>
    <div class="bocy">
    <div class="wlcm">
        <div>
            Welcome to Chitkara University 
        </div>
        <hr>
        <div>
            Form survey
        </div>
    </div>
    <div class="cont">
    <div>please fill the survey</div>
    <label class="lb" for=""> #Name: <input type="text" name="" id=""></label>
    <label class="lb" for=""> #Name: <input type="text" name="" id=""></label>
    <label class="lb" for=""> #Name: <input type="text" name="" id=""></label>
    <label class="lb" for=""> #Name: <input type="text" name="" id=""></label>
    <div class="role">
        <span>whilch option best describes your current role in chitkara</span>
    <select class="" name="" id="">
        <option value="">student</option>
        <option value="">student</option>
        <option value="">student</option>
    </select>
    <div>
        *How likely is that you would recommend
chitkara University to a friend?
<input type="checkbox" for='a'>definately
<input type="checkbox" for='a'>Maybe
    </div>

</div>
</div>
</div>

<div>
    <ol type="I" start="50">
        <li>h</li>
        <li>h</li>
        <li>h</li>

    </ol>
</div>
    
</body>
</html>